<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matech.erp.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.matech.erp.model.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="login_ip" property="loginIp" jdbcType="VARCHAR" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
    <result column="visit_count" property="visitCount" jdbcType="INTEGER" />
    <result column="register_time" property="registerTime" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <!--根据用户名获取用户信息-->
  <select id="getUserByName" parameterType="String" resultMap="BaseResultMap">
    select * from sys_user where name = #{uername};
  </select>
  
  <select id="getUserRoles" parameterType="String" resultType="com.matech.erp.model.Role">
    select sys_role.* from sys_user_role
    left join sys_role on sys_user_role.user_id = sys_role.id
    where sys_user_role.user_id = #{userid};
  </select>  
</mapper>